---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/Hero.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
import { ui } from "@/i18n/ui";

export function getStaticPaths() {
	return Object.keys(ui).map((lang) => ({ params: { lang } }));
}
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<Experience />
		<Projects />
		<Contact />
	</main>
	<Footer />
</Layout>
