---
import Footer from '@/components/Footer.astro';
import BaseLayout from './BaseLayout.astro';
import Navbar from '@/components/Navbar.astro';
---

<BaseLayout>
  <Navbar />
  <main id="main-content">
    <slot />
  </main>
  <Footer />
</BaseLayout>
